In [0]:
import pandas as pd
import numpy as np

dgdgdgd

---
## Contoh load dataset HOUSE

In [0]:
!wget -O kc_house_data.csv https://raw.githubusercontent.com/Jonasyao/Machine-Learning-Specialization-University-of-Washington-/master/Regression/Assignment_four/kc_house_data.csv

--2019-11-05 13:31:00--  https://raw.githubusercontent.com/Jonasyao/Machine-Learning-Specialization-University-of-Washington-/master/Regression/Assignment_four/kc_house_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 368640 (360K) [text/plain]
Saving to: ‘kc_house_data.csv’

kc_house_data.csv   100%[===================>] 360.00K  --.-KB/s    in 0.03s

2019-11-05 13:31:00 (11.9 MB/s) - ‘kc_house_data.csv’ saved [368640/368640]

In [0]:
df = pd.read_csv("kc_house_data.csv")

# take a look at the dataset
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257         1340.0      5650.0
1  6414100192  20141209T000000  538000.0  ... -122.319         1690.0      7639.0
2  5631500400  20150225T000000  180000.0  ... -122.233         2720.0      8062.0
3  2487200875  20141209T000000  604000.0  ... -122.393         1360.0      5000.0
4  1954400510  20150218T000000  510000.0  ... -122.045         1800.0      7503.0

[5 rows x 21 columns]

In [0]:
df.shape

(3165, 21)

<p>Copyright &copy; 2019 <a href=https://www.linkedin.com/in/andityaarifianto/>ADF</a> </p>